/* Override warna brand SIMPUS-Mini */

.navbar-brand,
.nav-link {
    color: #fff !important;
}

.nav-link:hover,
.nav-link.active {
    color: #fff0f0 !important;
}

form button[type="submit"]:hover,
button[type="submit"]:hover {
    background-color: #c8737c !important;
}